

.button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 15px 15px;
    border: 2px solid #494949 !important;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    width: 230px;
    font-size: 12px;
    }
