.main-section{
    padding:80px 40px;
  }
  .question{
    width:100%;
    background-color:rgba(250, 248, 248, 0.863);
    height:400px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    padding:10px;
    border-radius: 5px;
    
  }
  .Green{
    background: green;
    padding: 50px;
  }
  .Red{
      background: red;
  }